*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

body {
  font-family: 'Roboto', sans-serif !important;
  padding: 50px;
}

.content {
  width: 610px;
  margin: 0 auto;
  text-align: center;
}

.limit {
  display: inline-block !important;
  width: 120px !important;
  cursor: pointer !important;
}

.search {
  display: inline-block !important;
  width: 200px !important;
}

h1, .logo {
  display: inline-block !important;
}

.counts {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif !important;
  font-size: 24px;
  background-color: #c0392b;
  border-radius: 25px;
  border: 1px solid #c0392b;
  text-align: center;
  color: #fff;
  width: 250px;
}

#users li {
  list-style: none;
  margin-bottom: 3px;
}

.android_id, .time_sent {
  display: inline-block;
  width: 300px;
  background-color: #ecf0f1;
}

.colname {
  display: inline-block;
  width: 300px;
  background-color: rgb(231, 76, 60);
  color: #fff;

}

.list {
  padding: 0;
}

.sort {
  float: right;
  margin-right: 2px;
}

.filtered_by {
  float: left;
  margin-top: 16px;
  margin-left: 5px;
}