*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

body {
  font-family: 'Roboto', sans-serif !important;
  padding: 50px;
}

.content {
  width: 610px;
  margin: 0 auto;
  text-align: center;
}

.limit {
  display: inline-block !important;
  width: 120px !important;
  cursor: pointer !important;
}

.search {
  display: inline-block !important;
  width: 200px !important;
}

h1, .logo {
  display: inline-block !important;
}

.counts {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif !important;
  font-size: 24px;
  background-color: #c0392b;
  border-radius: 25px;
  border: 1px solid #c0392b;
  text-align: center;
  color: #fff;
  width: 250px;
}

#users li {
  list-style: none;
  margin-bottom: 3px;
}

.android_id, .time_sent {
  display: inline-block;
  width: 300px;
  background-color: #ecf0f1;
}

.colname {
  display: inline-block;
  width: 300px;
  background-color: rgb(231, 76, 60);
  color: #fff;

}

.list {
  padding: 0;
}

.sort {
  float: right;
  margin-right: 2px;
}
/*.list {
  font-family:sans-serif;
  margin:0;
  padding:20px 0 0;
}
.list > li {
  display:block;
  background-color: #eee;
  padding:10px;
  box-shadow: inset 0 1px 0 #fff;
}
.avatar {
  max-width: 150px;
}
img {
  max-width: 100%;
}
h3 {
  font-size: 16px;
  margin:0 0 0.3rem;
  font-weight: normal;
  font-weight:bold;
}
p {
  margin:0;
}

input {
  border:solid 1px #ccc;
  border-radius: 5px;
  padding:7px 14px;
  margin-bottom:10px
}
input:focus {
  outline:none;
  border-color:#aaa;
}
.sort {
  padding:8px 30px;
  border-radius: 6px;
  border:none;
  display:inline-block;
  color:#fff;
  text-decoration: none;
  background-color: #28a8e0;
  height:30px;
}
.sort:hover {
  text-decoration: none;
  background-color:#1b8aba;
}
.sort:focus {
  outline:none;
}
.sort:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  content:"";
  position: relative;
  top:-10px;
  right:-5px;
}
.sort.asc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  content:"";
  position: relative;
  top:13px;
  right:-5px;
}
.sort.desc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
  content:"";
  position: relative;
  top:-10px;
  right:-5px;
}*/